<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.thingtek.wechat.templateinfo.dao.TemplateInfoDao">

    <select id="getTemplateInfoByProName" resultType="com.thingtek.wechat.templateinfo.entity.TemplateInfo" >
        <if test=" _parameter != null and _parameter !='' ">
            SELECT * FROM wechat.templateinfo template
            <where>
                template.pro_name = #{pro_name}
            </where>
        </if>
    </select>
</mapper>